
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;

    --card: 240 10% 4%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 4%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 96% 44%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 5% 14%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 5% 14%;
    --muted-foreground: 240 5% 65%;

    --accent: 240 5% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5% 14%;
    --input: 240 5% 14%;
    --ring: 0 96% 44%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-racing-black text-racing-light;
  }
  
  .dyno-gauge {
    background: radial-gradient(circle, rgba(40,40,55,1) 0%, rgba(21,21,30,1) 100%);
  }
  
  .power-graph .recharts-surface {
    overflow: visible;
  }
}
